
.pokemon-list
	padding: 4rem 0.5rem
	position: relative
	display: flex
	flex-flow: column nowrap
	background-color: #000
	
	.title-container
		@include row
		justify-content: center
		margin-bottom: 1em

		.title
			max-width: 960px
			color: white
			font-size: 1.5em
			letter-spacing: 2px

			@include fit-to(tablet)
				font-size: 2.5em
				letter-spacing: 4px
	
	&__wrapper
		@include row
		justify-content: center
	
	&__list
		width: 100%
		font-size: 80%
		margin: 0

		@include fit-to(tablet)
			max-width: 960px
			font-size: 100%

	.pokemon
		@include headerFontFamily
		padding: 0.75em 0 0 0
		margin: 0
		display: flex

		@include fit-to(tablet)
			font-size: 1em
			padding: 1em 0 0 0

		&__number
			@include headerFontFamily
			margin: 0.25rem 0.25rem 0 0
			font-size: 1.125em
			line-height: 100%
			z-index: 1

			@include fit-to(tablet)
				font-size: 1.75em
				margin-right: 1rem
			
			.num
				display: block
				margin-bottom: 0.5em
				font-size: 70%

		&__names-container
			margin: 0.5rem 0 0 0
			z-index: 1
			transition: scale .2s ease-in-out, transform .2s ease-in-out

		&__en-name
			margin-bottom: 0
			font-size: 1.25em
			text-transform: uppercase
			letter-spacing: 1.5px

			@include fit-to(tablet)
				font-size: 2.5em
				letter-spacing: 3px

		&__jp-name 
			margin: 0.25rem 0 0 0
			font-size: 1em

			@include fit-to(tablet)
				font-size: 2.25em

		&__entry-image-container
			scale: 1.75
			z-index: 0
			transition: scale .2s ease-in-out, opacity .2s ease-in-out

		&__entry-image
			width: 90px
			height: 90px
			margin: 0 0.2rem 0 0

			@include fit-to(tablet)
				width: 200px
				height: 200px
				margin-right: 1rem


		&__entry-container
			display: flex
			align-items: center
			position: relative
			width: 100%
			margin: 0
			padding: 0 1rem
			background-color: #5c5c5c
			border-radius: 0.85em
			color: #000
			font-family: inherit
			text-decoration: none
			overflow: hidden

			@include fit-to(tablet)
				border-radius: 1.5em
				padding: 0 2.5rem

			&__item
				margin: 0
			
			&:hover	
				.pokemon__entry-image-container
					scale: 1
					opacity: .5
				
				.pokemon__names-container
					scale: 1.2
					transform: translate(-125px, 0)

		&--is-captured .pokemon__entry-container
			color: inherit
			// border: none


@keyframes number-on-hover
	0%	
		position: static
		font-size: 1rem
		opacity: 1
		transform: translate(0, 0)
	
	100%
		position: static
		font-size: 1rem
		opacity: 0
		transform: translate(0, 50%)
		

@keyframes en-name-on-hover
	0%	
		position: static
		font-size: 1rem
		opacity: 1
		transform: translate(0, 0)
	
	50%
		position: static
		font-size: 1rem
		opacity: 0
		transform: translate(0, 50%)
		
	51%
		position: absolute
		font-size: 2rem
		opacity: 0
		transform: translate(20%, 0)

	100%
		position: absolute
		font-size: 2rem
		opacity: 1
		transform: translate(0, 0)


@keyframes jp-name-on-hover
	0%	
		position: static
		font-size: 1rem
		opacity: 1
		transform: translate(0, 0)
	
	50%
		position: static
		font-size: 1rem
		opacity: 0
		transform: translate(0, 50%)
		
	51%
		position: absolute
		font-size: 4rem
		opacity: 0
		transform: translate(10%, 0)

	100%
		position: absolute
		font-size: 4rem
		opacity: 0.5
		transform: translate(0, 0)			